@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll_bar::-webkit-scrollbar {
    width: 10px;
}

.scroll_bar::-webkit-scrollbar-track {
    background: #6d6ff6;
    border-radius: 5px;
}

.scroll_bar::-webkit-scrollbar-thumb {
    background: #9fa0ff;
    border-radius: 5px;
}

.scroll_bar::-webkit-scrollbar-thumb:hover {
    background: #9fa0ff;
}