@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll_bar::-webkit-scrollbar {
    width: 10px;
}

.scroll_bar::-webkit-scrollbar-track {
    background: #999;
    border-radius: 5px;
}

.scroll_bar::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
}

.scroll_bar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .maxheightxl{
    max-height: 620px;
  }